body{
  width: 100%;
  height: 100%;
   margin: 0 auto;
  background-color: rgb(208, 211, 250);
  }
  
  .logo{
      width: 100%;
      background-color: black;
      height: 100px;
      padding: 5px;
      
      
  }.logo img{
      margin-left: 200px;
  }
  main{
      margin: 0 auto;
      width: 900px;
     
  }
  
  
  
  .menu2{
      background-color: rgb(218, 217, 213);
      width: 100%;
      border: 1px solid;
  }
  
  .menu2 ul li{
  display: inline-block;
  color: rgb(80, 167, 238);
  text-decoration: none;
  font-size: 20px;
  margin-left: 300px;
  }
  
  .titulo{
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  .aside{
      font-size: 200px;
      
  }