.flex-container {
  border: 30px solid green;
  flex-direction: row-reverse;
  display: flex;
  justify-content: center;
  width: 900px;
  margin-left: 30px;
 
}

.flex-item {
  background-color: orange;
  color: white;
  margin: 5px;
  font-size: 1em;
 
}

.flex-item:hover{
  background-color: lightblue;
  color:black;
}


.outro::after{
  Content: "Outro texto";
  
}

#id-caixa1{
  color: rgb(98, 83, 165);
  margin-left: 30px;
}

#id-caixa2{
  color: rgb(98, 83, 165);
  margin-left: 30px;
}

.outro-container{
  border: 30px solid orange;
  display: flex;
  justify-content: center;
  width: 900px;
  margin-left: 30px;
 
}

.outro-item{
  background-color: rgb(214, 40, 69);
  color:black;
  margin: 5px;
  font-size: 1em;
}

.outro-item:hover{
background-color:orange;
background-image: linear-gradient(to bottom, transparent, green);

}