body {
  background-color: rgb(46, 45, 45);
}

.foto {
  width: 400px;
  margin-bottom: 50px;
  margin-left: 400px;
  border-radius: 15px;
}
.foto {
  overflow: hidden;
}

.foto:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);

  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

h1 {
  color: whitesmoke;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

h4 {
  color: whitesmoke;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

section {
  margin-left: 70px;
  margin-right: 70px;
}
.parag {
  text-align: center;
  color: whitesmoke;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  line-height: 30px;
}
.parag::selection {
  color: green;
}
.outrasfotos {
  border-radius: 15px;
  width: 300px;
  margin-left: 5%;
}
.secondP {
  text-align: center;
  color: whitesmoke;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  line-height: 30px;
}

#gradiente {
  background-image: linear-gradient(to right, #00f260, #0575e6);
  border-radius: 20px;
}

.container {
  flex-direction: row-reverse;
  display: flex;
}

.item {
  flex-wrap: wrap;
  margin-left: 50px;
  margin-top: 30px;
}

a {
  text-decoration: none;
  color: whitesmoke;
}
footer {
  font-family: monospace;
  font-weight: bold;
  color: whitesmoke;
  margin-right: -80px;
  margin-top: 50px;
  margin-left: 45%;
}
